# Logs
logs/
logs_gfn_toy_expts/
results/
eval_out/
.vscode/
out/
output/
*.txt
scripts/
sensitivity_output/
sensitivity_results/
tmp_misc/


# pycache
tasks/__pycache__/
algo/__pycache__/
data/__pycache__/
envs/__pycache__/
models/__pycache__/
utils/__pycache__/
tasks/collect_robots.py
tasks/design_analysis.py
tasks/plot_ablations.py
tasks/diversity_measure_folderpath.py
tasks/diversity_measure_textfile.py
tasks/eval_gfn_robots.py
tasks/graph_embedding.py
tasks/sampler.py
tasks/sensitivity_analysis.png
tasks/sensitivity_design_analysis.py
tasks/sensitivity_gfn_plot.py
tasks/sensitivity_perf_plot.py
tasks/test_ppo.py
tasks/toy_expt_analysis.py
tasks/toy_gfn_sensitivity.py


# test
test/